@page "{burgerId:int}"
@model BerniesBurgers.Pages.Burgers.DetailModel

@{
}

<h2>@Model.Burger.Name</h2>
<div>Id: @Model.Burger.Id</div>
<div>Toppings: @Model.Burger.Toppings</div>
<div>Price: @Model.Burger.Price</div>

<a asp-page="./List" class="btn btn-primary">All Burgers</a>