@page
@model BerniesBurgers.Pages.Burgers.DetailModel

@{
}

<h2>@Model.Burger.Name</h2>
<div>Id: @Model.Burger.Id</div>
<div>Toppings: @Model.Burger.Toppings</div>
<div>Price: @Model.Burger.Price</div>
