@page
@using BerniesBurgers.Core
@model BerniesBurgers.Pages.Burgers.ListModel

@{
}


<h1>Our Famous Burgers</h1>

<table class="table">
    @foreach (var burger in Model.Burgers)
    {
        <tr>
            <td>@burger.Name</td>
            <td>@burger.Price</td>
            <td>@burger.Toppings</td>
        </tr>
    }
</table>
<div>@Model.Message</div>
