@page
@model BerniesBurgers.Pages.Burgers.List

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Our Famous Burgers</h1>
    <p>Made out of 100% pure organic kitty kibble.</p>
</div>
</body>
</html>