@page
@using BerniesBurgers.Core
@model BerniesBurgers.Pages.Burgers.ListModel

@{
}


<h1>Our Famous Burgers</h1>

<form method="get">
    <div class="input-group mb-2">
        <input type="search" class="form-control" value=""
               name="searchTerm"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var burger in Model.Burgers)
    {
        <tr>
            <td>@burger.Name</td>
            <td>@burger.Price</td>
            <td>@burger.Toppings</td>
        </tr>
    }
</table>
<div>@Model.Message</div>
